.footer {
    height: 50px;
    width: 98%;
    text-align: left;
    position: absolute;
    bottom: 0px;
    left: 1%;
}
.ui#content {
        padding-top: 55px;
}
.ui.transparent,
.ui.transparent.button,
.ui.transparent.divider:after,
.ui.transparent.divider:before {
    background-color: transparent;
    box-shadow: none;
    border: none;
    outline: none;
}
.ui#mydropdown {
       min-width : 80px;
}
